<ion-header>
  <ion-navbar>
    <ion-title>F33</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let thread of threads" (click)="goto(thread.id)">
    <ion-row class="threadHeader">
      <ion-col left padding-left>
        <ion-note>
          {{thread.author}}
        </ion-note>
      </ion-col>
      <ion-col right text-right padding-right>
        <ion-icon *ngIf="thread.star === true" name="star"></ion-icon>
        <ion-icon *ngIf="thread.hot === true" name="trending-up"></ion-icon>

        <ion-note>
          {{thread.view}} views
        </ion-note>
      </ion-col>
    </ion-row>
    <simple-divider></simple-divider>
    <ion-card-content>
      <p>{{thread.title}}</p>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingText="Loading more"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>


