page-home {
  /*ion-note {
    color: map-get($colors, subtle);
  }
  ion-card-content {
    background-color: map-get($colors, bluegray);
  }

  .card-md p{
    color: map-get($colors, white);
  }*/
  .threadHeader {
    font-size: smaller;
    color: map-get($colors, grey-700);
  }
  .card-md ion-card-content p {
    font-weight: 500;
  }
}


